<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469206881752-i4vmnk51hf41cf45mi4nd1h3a5viuc2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469206881752-i4vmnk51hf41cf45mi4nd1h3a5viuc2h</string>
	<key>API_KEY</key>
	<string>AIzaSyCXlfv_JjoHD1T2rP7OWexSxQb4qFKd97s</string>
	<key>GCM_SENDER_ID</key>
	<string>469206881752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chat.void.software</string>
	<key>PROJECT_ID</key>
	<string>void-chat-ffca4</string>
	<key>STORAGE_BUCKET</key>
	<string>void-chat-ffca4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469206881752:ios:9848c7cfd4e13c9dd1cead</string>
	<key>DATABASE_URL</key>
	<string>https://void-chat-ffca4.firebaseio.com</string>
</dict>
</plist>